<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <position x="550" y="0"/>
    <gravity value="10"/>
    <speed x="4" y="4"/>
    <grounded value ="false"/>
    <sliding value="false"/>
    <jumping value="false"/>
    <grid value="false"/>
  </player>

</config>