<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="708" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entitycontroller>
    <folder>textures/</folder>
    <sprite_sheet source="Entities.png"/>
    <player>
      <size width="32" height="32"/>
      <position x="64" y="500"/>
      <gravity value="250"/>
      <speed x="150" y="500"/>
      <grounded value ="false"/>
      <sliding value="false"/>
      <jumping value="true"/>
      <grid value="false"/>
      <gravity_active value="true"/>
    </player>
    <grid>
      <speed x="30" y="30"/>
    </grid>
    <flying_enemy>
      <size width="32" height="32"/>
      <speed x="8" y="8"/>
      <sightCollider width ="160" height="160"/>
      <dead value="false"/>
      <lives value="1"/>
    </flying_enemy>
    <land_enemy>
      <size width="32" height="32"/>
      <speed x="5" y="5"/>
      <sightCollider width ="160" height="96"/>
      <dead value="false"/>
      <lives value="3"/>
    </land_enemy>
  </entitycontroller>

  <scene>
    <map_name name="level1.tmx"></map_name>
    <map_name name="level2.tmx"></map_name>
    <fade_time value="1"/>
  </scene>

  </config>